<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head (title='Ajouter produit')}"></head>

<body>

<div class="container" style="max-width:700px;margin-top:40px;">
    <h1>Ajouter un produit</h1>

    <form th:action="@{/admin/produits/save}" th:object="${produit}" method="post" enctype="multipart/form-data">

        <label>Nom</label>
        <input class="form-control mb-2" th:field="*{nom}" required>

        <label>Catégorie</label>
        <input class="form-control mb-2" th:field="*{categorie}" required>

        <label>Prix</label>
        <input class="form-control mb-2" th:field="*{prix}" required>

        <label>Description</label>
        <textarea class="form-control mb-2" th:field="*{description}"></textarea>

        <label>Image</label>
        <input class="form-control mb-3" type="file" name="image" required>

        <button class="btn btn-primary w-100">Enregistrer</button>
    </form>

    <a th:href="@{/admin/produits}" class="btn btn-secondary mt-3">Retour</a>
</div>

</body>
</html>
