<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connexion Admin</title>
</head>
<body>
<h2>Connexion Administrateur</h2>
<form method="post" th:action="@{/admin/login}">
    <label>Email :</label>
    <input type="text" name="username" required/><br>

    <label>Mot de passe :</label>
    <input type="password" name="password" required/><br>

    <button type="submit">Se connecter</button>

    <p th:if="${param.error}" style="color:red;">Email ou mot de passe incorrect.</p>
</form>


</body>
</html>
